{% extends 'base.html' %}
{% block content%}
<div>
    <div class="about">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius earum voluptas aliquam modi assumenda. Enim
            aspernatur quisquam quidem repudiandae assumenda beatae nam voluptatem amet esse necessitatibus atque fugit
            iste dolor culpa blanditiis consectetur quod a architecto fugiat optio consequuntur similique, debitis
            aliquam. Dolore magni, vel sunt fugit beatae sequi quas dolores perspiciatis enim atque nemo, neque nostrum
            aut! Pariatur sapiente ad voluptatibus sunt. Itaque, odit natus rerum facilis amet provident quo similique
            neque officia, qui harum. Corrupti dignissimos autem harum?</p>
    </div>
    <div class="contact">

    </div>
</div>
{% endblock %}